<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Profil
    </c-card-header>
    <c-card-body>
      <table class="table">
        <thead>
          <tr>
            <th>
              <h4>Caractéristiques</h4>
            </th>
            <th>
              <h4>Profil</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Nom</p>
            </td>
            <td>
              <h5>Doe</h5>
            </td>
          </tr>
          <tr>
            <td>
              <p>Prénom</p>
            </td>
            <td>
              <h5>John</h5>
            </td>
          </tr>
          <tr>
            <td>
              <p>Date naissance</p>
            </td>
            <td>
              <h5>12/12/2000</h5>
            </td>
          </tr>
          <tr>
            <td>
              <p>Date inscription</p>
            </td>
            <td>
              <h5>12/12/2022</h5>
            </td>
          </tr>
          <tr>
            <td>
              <p>Best score</p>
            </td>
            <td>
              <h5>111</h5>
            </td>
          </tr>
          <tr>
            <td>
              <p>ranking</p>
            </td>
            <td>
              <h5>1957</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</div>